<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sign Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sign Up</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id = fullnamerec></div>

  <div id = fullname>
    <ion-input placeholder="Fullname"></ion-input> 
  </div>

  <div id = fullnamelogo>
    <ion-icon  size = "medium" name="person"></ion-icon>
  </div>

  <div id = usernamerec></div>

  <div id = username>
    <ion-input placeholder="Username"></ion-input> 
  </div>

  <div id = usernamelogo>
    <ion-icon  size = "medium" name="person"></ion-icon>
  </div>
  
  <div id = passwordrec></div>

<div id = password>
    <ion-input type = "password" placeholder="Password"></ion-input>
  </div>

  <div id = passwordlogo>
    <ion-icon size = "medium" name="lock-closed"></ion-icon>
  </div>

  <div id = birthdayrec></div>

  <div id = birthday>
    <ion-input type="date"></ion-input> 
  </div>

  <div id = genderrec></div>

  <div id = gender>
    <ion-select placeholder="Gender">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
    </div>

    <div id = phonenumberrec></div>

    <div id = phonenumber>
      <ion-input placeholder="Phone Number"></ion-input> 
    </div>

  <div id = logoutbtn>
      <ion-button color="danger" expand="block" (click)="signup()">Sign Up</ion-button>
      </div>

  
</ion-content>
