<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Redeem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Redeem</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div id=pointstext>
    <ion-text color="dark">
      Points
    </ion-text>
  </div>



  <div id=pointsrec>
    <ion-card   color = dark *ngFor="let point of points">
      <ion-card-header>
        <ion-card-subtitle>{{point.user_points}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>




  <div id=giftstext>
    <ion-text color="dark">
      Gifts
    </ion-text>
  </div>



  <div class="gift">
    <ion-card *ngFor="let gift of gifts">
      <ion-card-header>
        <ion-card-subtitle>{{gift.gift_name}} {{gift.gift_points}}</ion-card-subtitle>
      </ion-card-header>
      <div id=buttongift>
        <ion-button size="small" color="light">
          <ion-icon name="enter-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
  </div>








 

  <div id=homelogo>
    <ion-button size="small" color="dark" (click)="goToHome()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=tasklogo>
    <ion-button size="small" color="dark" (click)="goToTask()">
      <ion-icon name="reader-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=giftlogo>
    <ion-button size="small" >
      <ion-icon name="gift-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=leaderlogo>
    <ion-button size="small" color="dark" (click)="goToLeadboard()">
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=profilelogo>
    <ion-button size="small" color="dark" (click)="goToUser()">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>