<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Redeem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Redeem</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id=pointstext>
    <ion-text color="dark">
      Points
    </ion-text>
  </div>

  <div id=pointsrec></div>

  <div id=giftstext>
    <ion-text color="dark">
      Gifts
    </ion-text>
  </div>

  <div id=gift1rec></div>
  <div id=gift1logo>
    <ion-button size="small" color="light">
      <ion-icon name="enter-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=gift2rec></div>

  <div id=gift2logo>
    <ion-button size="small" color="light">
      <ion-icon name="enter-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=gift3rec></div>

  <div id=gift3logo>
    <ion-button size="small" color="light">
      <ion-icon name="enter-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=homelogo>
    <ion-button size="small" color="dark">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=tasklogo>
    <ion-button size="small" color="dark">
      <ion-icon name="reader-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=giftlogo>
    <ion-button size="small" color="dark">
      <ion-icon name="gift-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=leaderlogo>
    <ion-button size="small" color="dark">
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=profilelogo>
    <ion-button size="small" color="dark">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>