ion-content {
    --background: var(--ion-color-medium);
}

ion-toolbar {
    --background: var(--ion-color-medium);
}

ion-title.title-large {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    text-align: center;
}







#pointstext {
    opacity: 1;
    font-family: Rubik;
    text-align: left;
    position: absolute;
    left: 10%;
    top: 27%;
    font-size: 30px;
    letter-spacing: 0;
}



#giftstext {
    opacity: 1;
    font-family: Rubik;
    text-align: left;
    position: absolute;
    left: 10%;
    top: 45%;
    font-size: 30px;
    letter-spacing: 0;
}

.gift {
    margin-block-start: 70%;
}

#button {
    font-size: x-large;
    color: grey;
    text-align: right;
    position: absolute;
    right: 4%;
    top: 19%;
}

#buttongift {
    font-size: x-large;
    color: grey;
    text-align: right;
    position: absolute;
    right: 4%;
    top: 19%;
}




#button {
    font-size: x-large;
    color: grey;
    text-align: right;
    position: absolute;
    right: 4%;
    top: 19%;
}




#homelogo {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 8%;
    top: 90%;

}

#tasklogo {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 25%;
    top: 90%;

}

#giftlogo {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 42%;
    top: 90%;

}

#leaderlogo {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 59%;
    top: 90%;

}

#profilelogo {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 76%;
    top: 90%;

}