<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      leaderboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LeaderBoard</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="leaderboard">
    <ion-card *ngFor="let leadboard of leadboards">
      <ion-card-header>
        <ion-card-subtitle>{{leadboard.user_name}} = {{leadboard.user_points}}pts</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <div id=user1>
    <ion-icon size="large" name="ribbon-outline"></ion-icon>
  </div>

  <div id=user2>
    <ion-icon size="large" name="ribbon-outline"></ion-icon>
  </div>

  <div id=user3>
    <ion-icon size="large" name="ribbon-outline"></ion-icon>
  </div>

  <div id=user4text>
    <ion-text >
      4th
    </ion-text>
  </div>

  <div id=user5text>
    <ion-text >
      5th
    </ion-text>
  </div>

  <div id=user6text>
    <ion-text >
      6th
    </ion-text>
  </div>

  <div id=user7text>
    <ion-text>
      7th
    </ion-text>
  </div>

  <div id=user8text>
    <ion-text >
      8th
    </ion-text>
  </div>

  <div id=homelogo>
    <ion-button size="small" color="dark" (click)="goToHome()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=tasklogo>
    <ion-button size="small" color="dark" (click)="goToTask()">
      <ion-icon name="reader-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=giftlogo>
    <ion-button size="small" color="dark" (click)="goToRedeem()">
      <ion-icon name="gift-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=leaderlogo>
    <ion-button size="small">
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=profilelogo>
    <ion-button size="small" color="dark" (click)="goToUser()">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>