<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id=userrec></div>

  <div id=person>
    <ion-icon size="medium" name="person"></ion-icon>
  </div>

  <div id=usertext>
    <ion-input placeholder="Username"></ion-input>
  </div>


  <div id=passrec></div>

  <div id=password>
    <ion-icon size="medium" name="lock-closed"></ion-icon>
  </div>

  <div id=passtext>
    <ion-input type="password" placeholder="Password"></ion-input>
  </div>

  <div id=logbtn>
    <ion-button color="danger" expand="block" (click)="login()">Login</ion-button>
  </div>

</ion-content>