ion-content {
    --background: var(--ion-color-medium); 
  }
  
  ion-toolbar{
    --background: var(--ion-color-medium);
  }
  
  ion-title.title-large {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }
  
  #usertext { 
      color:rgb(32, 34, 35);
      opacity:0.50;
      font-family:Rubik;
    text-align: center;
    position: absolute;
    left: 10%;
    right: 25%;
    top: 36%;
      font-size:21.56149673461914px;
      letter-spacing:0;
  }
  
  #person {
    color: grey;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 38%;
  }
  
  #userrec {
    background-color:rgba(255, 255, 255, 1);
      width:270px;
      height:60px;
    text-align: center;
    position: absolute;
    top: 35%;
      border-top-left-radius:23.957218170166016px;
      border-top-right-radius:23.957218170166016px;
      border-bottom-left-radius:23.957218170166016px;
      border-bottom-right-radius:23.957218170166016px;
  }
  
  
  #passtext { 
      color:rgb(31, 33, 35);
      opacity:0.50;
    font-family:Rubik;
    text-align: center;
    position: absolute;
    left: 10%;
    right: 25%;
    top: 52%;
    font-size:21.56149673461914px;
      letter-spacing:0;
  }
  
  #password {
    color: grey;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 54%;
  }
  
  #passrec {
  background-color:rgba(255, 255, 255, 1);
      width:270px;
      height:60px;
    text-align: center;
    position: absolute;
    top: 50%;
      border-top-left-radius:23.957218170166016px;
      border-top-right-radius:23.957218170166016px;
      border-bottom-left-radius:23.957218170166016px;
      border-bottom-right-radius:23.957218170166016px;
  }
  
  #logtext {
    color:rgba(255, 255, 255, 1);
      font-family:Rubik;
    text-align: center;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 75%;
      font-size:21.56149673461914px;
      letter-spacing:0;
  }
  
  #logrec { 
      box-shadow:-5.989304542541504px -5.989304542541504px 17.967914581298828px rgba(255, 255, 255, 0.5);
      background-color:rgba(238.00000101327896, 54.54166531562805, 60.41234269738197, 1);
      width:270px;
      height: 50px;
    text-align: center;
    position: absolute;
    top: 73%;
      border-top-left-radius:23.957218170166016px;
      border-top-right-radius:23.957218170166016px;
      border-bottom-left-radius:23.957218170166016px;
      border-bottom-right-radius:23.957218170166016px;
  }
  