<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Name
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Name</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id=editprofilebtn>
    <ion-button size="small" color="light" (click)="goToeditProfile()"> Edit profile </ion-button>
  </div>

  <div id=completedtext>
    <ion-text color="dark">
      Completed Task
    </ion-text>
  </div>

  <div id=task1rec></div>

  <div id=task2rec></div>

  <div id=task3rec></div>

  <div id=undertasktext>
    <ion-text color="dark">
      Undergoing Task
    </ion-text>
  </div>

  <div id=undertask1rec></div>

  <div id=undertask2rec></div>

  <div id=undertask3rec></div>

  <div id=homelogo>
    <ion-button size="small" color="dark" (click)="goToHome()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=tasklogo>
    <ion-button size="small" color="dark" (click)="goToTAsk()">
      <ion-icon name="reader-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=giftlogo>
    <ion-button size="small" color="dark" (click)="goToRedeem()">
      <ion-icon name="gift-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=leaderlogo>
    <ion-button size="small" color="dark" (click)="goToLeadboard()">
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=profilelogo>
    <ion-button size="small">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>