ion-content {
    --background: var(--ion-color-medium);
}

ion-toolbar {
    --background: var(--ion-color-medium);
}

ion-title.title-large {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    text-align: right;
}

#editprofilebtn {
    color: rgba(255, 255, 255, 1);
    font-family: Rubik;
    text-align: right;
    position: absolute;
    left: 60%;
    top: 19%;
    font-size: 22px;
    letter-spacing: 0;
    border-top-left-radius: 23.957218170166016px;
    border-top-right-radius: 23.957218170166016px;
    border-bottom-left-radius: 23.957218170166016px;
    border-bottom-right-radius: 23.957218170166016px;
}

#completedtext {
    opacity: 1;
    font-family: Rubik;
    text-align: center;
    position: absolute;
    left: 20%;
    right: 25%;
    top: 27%;
    font-size: 20px;
    letter-spacing: 0;
}

#task1rec {
    background-color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 45px;
    text-align: center;
    position: absolute;
    top: 32%;
    left: 4%;
    border-top-left-radius: 23.957218170166016px;
    border-top-right-radius: 23.957218170166016px;
    border-bottom-left-radius: 23.957218170166016px;
    border-bottom-right-radius: 23.957218170166016px;
}

#task2rec {
    background-color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 45px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 4%;
    border-top-left-radius: 23.957218170166016px;
    border-top-right-radius: 23.957218170166016px;
    border-bottom-left-radius: 23.957218170166016px;
    border-bottom-right-radius: 23.957218170166016px;
}

#task3rec {
    background-color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 45px;
    text-align: center;
    position: absolute;
    top: 48%;
    left: 4%;
    border-top-left-radius: 23.957218170166016px;
    border-top-right-radius: 23.957218170166016px;
    border-bottom-left-radius: 23.957218170166016px;
    border-bottom-right-radius: 23.957218170166016px;
}

#undertasktext {

    width: 200px;
    opacity: 1;
    font-family: Rubik;
    text-align: center;
    position: absolute;
    left: 15%;
    right: 25%;
    top: 57%;
    font-size: 20px;
    letter-spacing: 0;
}

#undertask1rec {
    background-color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 45px;
    text-align: center;
    position: absolute;
    top: 61%;
    left: 4%;
    border-top-left-radius: 23.957218170166016px;
    border-top-right-radius: 23.957218170166016px;
    border-bottom-left-radius: 23.957218170166016px;
    border-bottom-right-radius: 23.957218170166016px;
}

#undertask2rec {
    background-color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 45px;
    text-align: center;
    position: absolute;
    top: 69%;
    left: 4%;
    border-top-left-radius: 23.957218170166016px;
    border-top-right-radius: 23.957218170166016px;
    border-bottom-left-radius: 23.957218170166016px;
    border-bottom-right-radius: 23.957218170166016px;
}

#undertask3rec {
    background-color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 45px;
    text-align: center;
    position: absolute;
    top: 77%;
    left: 4%;
    border-top-left-radius: 23.957218170166016px;
    border-top-right-radius: 23.957218170166016px;
    border-bottom-left-radius: 23.957218170166016px;
    border-bottom-right-radius: 23.957218170166016px;
}


#homelogo {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 7%;
    top: 86%;
}

#tasklogo {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 24%;
    top: 86%;
}

#giftlogo {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 41%;
    top: 86%;
}

#leaderlogo {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 58%;
    top: 86%;
}

#profilelogo {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 75%;
    top: 86%;
}