ion-content {
    --background: var(--ion-color-medium);
}

ion-toolbar {
    --background: var(--ion-color-medium);
}

ion-title.title-large {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    text-align: center;
}

#task0rec {
    background-color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 45px;
    text-align: center;
    position: absolute;
    top: 24%;
    left: 4%;
    border-top-left-radius: 23.957218170166016px;
    border-top-right-radius: 23.957218170166016px;
    border-bottom-left-radius: 23.957218170166016px;
    border-bottom-right-radius: 23.957218170166016px;
}

#tasknb0 {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 4%;
    top: 25%;
}

#nb0text {
    opacity: 1;
    font-family: Rubik;
    text-align: center;
    position: absolute;
    left: 8%;
    top: 40mm;
    font-size: 20px;
    letter-spacing: 0;
}

#ok0logo {
    font-size: x-large;
    color: grey;
    text-align: right;
    position: absolute;
    right: 10%;
    top: 24%;
}

#task1rec {
    background-color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 45px;
    text-align: center;
    position: absolute;
    top: 32%;
    left: 4%;
    border-top-left-radius: 23.957218170166016px;
    border-top-right-radius: 23.957218170166016px;
    border-bottom-left-radius: 23.957218170166016px;
    border-bottom-right-radius: 23.957218170166016px;
}

#tasknb1 {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 4%;
    top: 33%;
}

#nb1text {
    opacity: 1;
    font-family: Rubik;
    text-align: center;
    position: absolute;
    left: 8%;
    top: 53mm;
    font-size: 20px;
    letter-spacing: 0;
}

#ok1logo {
    font-size: x-large;
    color: grey;
    text-align: right;
    position: absolute;
    right: 10%;
    top: 32%;
}

#task2rec {
    background-color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 45px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 4%;
    border-top-left-radius: 23.957218170166016px;
    border-top-right-radius: 23.957218170166016px;
    border-bottom-left-radius: 23.957218170166016px;
    border-bottom-right-radius: 23.957218170166016px;
}

#tasknb2 {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 4%;
    top: 41%;
}

#nb2text {
    opacity: 1;
    font-family: Rubik;
    text-align: center;
    position: absolute;
    left: 8%;
    top: 65mm;
    font-size: 20px;
    letter-spacing: 0;
}

#ok2logo {
    font-size: x-large;
    color: grey;
    text-align: right;
    position: absolute;
    right: 10%;
    top: 40%;
}

#task3rec {
    background-color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 45px;
    text-align: center;
    position: absolute;
    top: 48%;
    left: 4%;
    border-top-left-radius: 23.957218170166016px;
    border-top-right-radius: 23.957218170166016px;
    border-bottom-left-radius: 23.957218170166016px;
    border-bottom-right-radius: 23.957218170166016px;
}

#tasknb3 {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 4%;
    top: 49%;
}

#nb3text {
    opacity: 1;
    font-family: Rubik;
    text-align: center;
    position: absolute;
    left: 8%;
    top: 78mm;
    font-size: 20px;
    letter-spacing: 0;
}

#ok3logo {
    font-size: x-large;
    color: grey;
    text-align: right;
    position: absolute;
    right: 10%;
    top: 48%;
}


#task4rec {
    background-color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 45px;
    text-align: center;
    position: absolute;
    top: 56%;
    left: 4%;
    border-top-left-radius: 23.957218170166016px;
    border-top-right-radius: 23.957218170166016px;
    border-bottom-left-radius: 23.957218170166016px;
    border-bottom-right-radius: 23.957218170166016px;
}

#tasknb4 {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 4%;
    top: 57%;
}

#nb4text {
    opacity: 1;
    font-family: Rubik;
    text-align: center;
    position: absolute;
    left: 8%;
    top: 90mm;
    font-size: 20px;
    letter-spacing: 0;
}

#ok4logo {
    font-size: x-large;
    color: grey;
    text-align: right;
    position: absolute;
    right: 10%;
    top: 56%;
}

#task5rec {
    background-color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 45px;
    text-align: center;
    position: absolute;
    top: 64%;
    left: 4%;
    border-top-left-radius: 23.957218170166016px;
    border-top-right-radius: 23.957218170166016px;
    border-bottom-left-radius: 23.957218170166016px;
    border-bottom-right-radius: 23.957218170166016px;
}

#tasknb5 {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 4%;
    top: 65%;
}

#nb5text {
    opacity: 1;
    font-family: Rubik;
    text-align: center;
    position: absolute;
    left: 8%;
    top: 103mm;
    font-size: 20px;
    letter-spacing: 0;
}

#ok5logo {
    font-size: x-large;
    color: grey;
    text-align: right;
    position: absolute;
    right: 10%;
    top: 64%;
}

#task6rec {
    background-color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 45px;
    text-align: center;
    position: absolute;
    top: 72%;
    left: 4%;
    border-top-left-radius: 23.957218170166016px;
    border-top-right-radius: 23.957218170166016px;
    border-bottom-left-radius: 23.957218170166016px;
    border-bottom-right-radius: 23.957218170166016px;
}

#tasknb6 {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 4%;
    top: 73%;
}

#nb6text {
    opacity: 1;
    font-family: Rubik;
    text-align: center;
    position: absolute;
    left: 8%;
    top: 115mm;
    font-size: 20px;
    letter-spacing: 0;
}

#ok6logo {
    font-size: x-large;
    color: grey;
    text-align: right;
    position: absolute;
    right: 10%;
    top: 72%;
}

#homelogo {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 7%;
    top: 86%;
}

#tasklogo {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 24%;
    top: 86%;
}

#giftlogo {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 41%;
    top: 86%;
}

#leaderlogo {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 58%;
    top: 86%;
}

#profilelogo {
    font-size: x-large;
    color: grey;
    text-align: center;
    position: absolute;
    left: 75%;
    top: 86%;
}