<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id=aboutrec></div>

  <div id=about>
    <ion-text color="dark">
      about the app 
    </ion-text>
  </div>

  <div id=recommendedtext>
    <ion-text color="light">
      Recommended Task
    </ion-text>
  </div>

  <div id=task1rec></div>
  <div id=task1text>
    <ion-input readonly=" true" placeholder="text box"></ion-input>
  </div>

  <div id=task2rec></div>
  <div id=task2text>
    <ion-input readonly=" true" placeholder="text box"></ion-input>
  </div>

  <div id=task3rec></div>
  <div id=task3text>
    <ion-input readonly=" true" placeholder="text box"></ion-input>
  </div>

  <div id=leadertext>
    <ion-text color="light">
      Leaderboard
    </ion-text>
  </div>

  <div id=leaderboardrec></div>


  <div id=leader1logo>
    <ion-icon name="ribbon-outline"></ion-icon>
  </div>

  <div id=leader1text>
    <ion-input readonly=" true" placeholder="leader1"></ion-input>
  </div>

  <div id=point1text>
    <ion-input readonly=" true" placeholder="point1"></ion-input>
  </div>

  <div id=leader2logo>
    <ion-icon name="ribbon-outline"></ion-icon>
  </div>n>
  <div id=leader2text>
    <ion-input readonly=" true" placeholder="leader2"></ion-input>
  </div>

  <div id=point2text>
    <ion-input readonly=" true" placeholder="point2"></ion-input>
  </div>

  <div id=leader3logo>
    <ion-icon name="ribbon-outline"></ion-icon>
  </div>n>
  <div id=leader3text>
    <ion-input readonly=" true" placeholder="leader3"></ion-input>
  </div>

  <div id=point3text>
    <ion-input readonly=" true" placeholder="point3"></ion-input>
  </div>

  <div id=homelogo>
    <ion-button size="small" color="dark">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=tasklogo>
    <ion-button size="small" color="dark" (click)="goToTAsk()">
      <ion-icon name="reader-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=giftlogo>
    <ion-button size="small" color="dark" (click)="goToRedeem()">
      <ion-icon name="gift-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=leaderlogo>
    <ion-button size="small" color="dark">
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=profilelogo>
    <ion-button size="small" color="dark" (click)="goToUser()">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>