<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id=aboutrec></div>

  <div id=about>
    <ion-text>
      The target of the app is to make people contribute to the society 
      and in return they get a little reward. 
    </ion-text>
  </div>





  <div id=recommendtext>
    <ion-text color="light">
      Recommend Task
    </ion-text>
  </div>



  <div class="recommendtask">
    <ion-card   color = dark *ngFor="let rtask of rtasks">
      <ion-card-header>
        <ion-card-subtitle>{{rtask.task_name}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>



  <div id=leadertext>
    <ion-text color="light">
      Leaderboard
    </ion-text>
  </div>



  <div class="leaderboard">

    <ion-card   color = dark *ngFor="let leadboard of leadboards">
      <ion-card-header>
        <ion-card-subtitle>{{leadboard.user_name}} = {{leadboard.user_points}}pts</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>




  <!-- <div id=leader1logo>
    <ion-icon name="ribbon-outline"></ion-icon>
  </div>

  <div id=leader2logo>
    <ion-icon name="ribbon-outline"></ion-icon>
  </div>

  <div id=leader3logo>
    <ion-icon name="ribbon-outline"></ion-icon>
  </div> -->
 



  
  <div id=homelogo>
    <ion-button size="small">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=tasklogo>
    <ion-button size="small" color="dark" (click)="goToTAsk()">
      <ion-icon name="reader-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=giftlogo>
    <ion-button size="small" color="dark" (click)="goToRedeem()">
      <ion-icon name="gift-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=leaderlogo>
    <ion-button size="small" color="dark" (click)="goToLeadboard()">
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-button>
  </div>

  <div id=profilelogo>
    <ion-button size="small" color="dark" (click)="goToUser()">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>